@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.card {
    animation: fadeIn 0.2s ease-in;
    // @for $i from 1 through 20 {
    //     transition-delay: $i * 0.25;
    // }
    overflow: hidden;
    margin: 0.75rem;
    flex-basis: calc(50% - 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: #8e2de2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #4a00e0, #8e2de2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #4a00e0, #8e2de2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    .card-content-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        height: 100%;
        width: 66%;
        margin: 0 0 0 auto;
        .social-media-links-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            // flex-grow: 1;
            width: 100%;
            // flex: 1 1 auto;
            p {
                padding-top: 0rem;
                width: auto;
            }
        }
        h1 {
            color: white;
            width: 100%;
            padding: 0rem 0rem 1rem 1rem;
            font-size: 1.55rem;
            margin: 0rem;
            // flex: 1 1 auto;
        }
        p {
            // flex: 1 1 auto;
            color: white;
            width: 100%;
            padding: 1rem 0rem 0rem 1rem;
            margin: 0rem;
        }
        img {
            position: relative;
        }
        // img {
        //     position: absolute;
        //     z-index: -1;
        //     top: 0;
        //     bottom: 0;
        //     left: -50px;
        //     right: 0;
        //     margin: auto auto auto 0;
        // }
    }
}